/* CSS Document */
body{
background:#ffffff;
}
*{
padding:0;
margin:0;
}
p{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#000000;
}
h1{
font:normal 18px/22px Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-transform:uppercase;
}
td{
font:normal 12px/18px Arial, Helvetica, sans-serif;
color:#333333;
text-align:left;
vertical-align:top;
}
a{
outline:none;
}
a img{
border:none;
}
ul{
list-style:none;
}
.clear{
font-size:0;
line-height:0;
clear:both;
}
#main-canvas{
width:963px;
margin:22px auto 0 auto;
}
.header{
height:100%;
overflow:hidden;
}
.header-top{
height:170px;
background:url(../images/header-top-bg.gif) repeat-x 0 0;
margin:0 0 10px 0;
}
.header-top img.logo{
float:left;
margin:53px 0 3px 7px;
border:none;
}
.main-nav{
margin:0 0 10px 0;
}
.main-nav ul{
background:url(../images/nav-bg.jpg) no-repeat 0 0;
height:37px;
}
.main-nav ul li{
font:bold 14px/37px Verdana, Arial, Helvetica, sans-serif;
color:#0382B2;
background:url(../images/nav-div.jpg) no-repeat 0 50%;
width:160px;
height:37px;
float:left;
}
.main-nav ul li.noo{
background:none;
}
.main-nav ul li a{
font:bold 14px/37px Verdana, Arial, Helvetica, sans-serif;
color:#0382B2;
text-decoration:none;
width:160px;
text-align:center;
height:37px;
display:block;
}
.main-nav ul li a.select{
font:bold 14px/37px Verdana, Arial, Helvetica, sans-serif;
color:#D6EEF7;
text-decoration:none;
background:url(../images/nav-hover-bg.jpg) no-repeat 0 0;
width:160px;
height:37px;
display:block;
}
.main-nav ul li a:hover{
font:bold 14px/37px Verdana, Arial, Helvetica, sans-serif;
color:#D6EEF7;
text-decoration:none;
background:url(../images/nav-hover-bg.jpg) no-repeat 0 0;
width:160px;
height:37px;
display:block;
}
.banner-area{
margin:0 0 0 0;
}
.banner-left{
background:url(../images/banner.jpg) no-repeat 0 0;
width:685px;
height:272px;
float:left;
}
.plan2{
width:250px;
height:360px;
float:left;
border:#00AEEF 1px solid;
margin:0 0 0 20px;
}
.plan-iner2{
border-bottom:#00AEEF 2px solid;
height:70px;
padding:0 10px 0 0;
}
.plan-iner.no-border{
border-bottom:none;
}
.plan2 h2{
font:bold 18px/15px Verdana, Arial, Helvetica, sans-serif;
color:#BCBABA;
text-align:right;
padding:5px 3px 0 0;
}
.plan2 h2 span{
float:left;
color:#DF0203;
padding:20px 0 0 5px;
}
.plan2 h2 a{
font:bold 18px/15px Verdana, Arial, Helvetica, sans-serif;
color:#BCBABA;
text-decoration:none;
}
.plan2 h2 a:hover{
font:bold 18px/15px Verdana, Arial, Helvetica, sans-serif;
color:#18A2D6;
text-decoration:none;
}
.plan2 p{
font:normal 11px/12px Verdana, Arial, Helvetica, sans-serif;
color:#3B3B3B;
text-align:right;
padding:0 2px 0 0;
}
.banner-area img.get-started{
float:right;
border:none;
margin:5px 10px 0 0;
}
.banner-right{
background:url(../images/banner-right.jpg) no-repeat 0 0;
width:253px;
height:257px;
float:right;
padding:8px 7px;
}
.banner-right img.woman{
border:none;
margin:0 0 20px 0;
}
.banner-right img.read-more{
border:none;
float:right;
margin:0 10px 0 0;
}
.banner-right h1{
font:bold 13px/18px Verdana, Arial, Helvetica, sans-serif;
color:#656565;
padding:0 0 5px 5px;
}
.banner-right p{
font:normal 11px/14px Verdana, Arial, Helvetica, sans-serif;
color:#969595;
padding:0 0 10px 5px;
}
.reason{
background:url(../images/grey-bg.jpg) no-repeat 0 0;
width:953px;
height:49px;
margin:35px 0 0 0;
padding:0 0 0 10px;
}
.reason h1{
font:normal 17px/49px Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
background:url(../images/reasons-bg.jpg) no-repeat 0 50%;
padding:0 0 0 55px;
}
.reason-bottom{
height:100%;
overflow:hidden;
}
.verified{
background:url(../images/grey-bottom-bg.jpg) no-repeat 0 0;
width:240px;
height:107px;
padding:30px 0 0 0;
float:left;
}
.verified img.product{
float:left;
border:none;
margin:0 7px;
}
.verified img.read{
float:right;
border:none;
margin:10px 10px 0 0;
}
.verified h1{
font:normal 15px/30px Verdana, Arial, Helvetica, sans-serif;
color:#504F4F;
}
.verified p{
font:normal 12px/14px Verdana, Arial, Helvetica, sans-serif;
color:#969595;
}
.wrapper{
height:100%;
overflow:hidden;
margin:6px 0 23px 0;
}
.wrapper-top{
height:100%;
overflow:hidden;
margin:0 0 13px 0;
}
.left-area{
background:url(../images/left-mid-bg.jpg) repeat-y 0 0;
height:100%;
overflow:hidden;
width:420px;
float:left;
margin:0 8px 0 0;
}
.left-area-top{
background:url(../images/left-top-bg.jpg) no-repeat 0 0;
height:24px;
font-size:0;
line-height:0;
}
.left-area-bottom{
background:url(../images/left-bottom-bg.jpg) no-repeat 0 0;
height:6px;
font-size:0;
line-height:0;
}
.left-area-mid{
height:100%;
overflow:hidden;
}
.left-area-mid h1{
background:url(../images/hosting-h1-bg.jpg) no-repeat 0 0;
width:255px;
height:37px;
font:bold 17px/37px Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-transform:uppercase;
padding:0 0 0 10px;
margin:0 0 25px 0;
}
.left-area-mid img{
float:right;
border:#00AEEF 2px solid;
margin:0 12px 12px 12px;
}
.left-area-mid p{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#000000;
padding:0 0 14px 16px;
}
.left-area-mid p a{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#DD0D0D;
text-decoration:none;
}
.left-area-mid p a:hover{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#DD0D0D;
text-decoration:underline;
}
.left-area2{
background:url(../images/left-mid-bg2.jpg) repeat-y 0 0;
height:100%;
overflow:hidden;
width:293px;
float:left;
margin:0 8px 0 0;
}
.left-area-top2{
background:url(../images/left-top-bg2.jpg) no-repeat 0 0;
height:24px;
font-size:0;
line-height:0;
}
.left-area-bottom2{
background:url(../images/left-bottom-bg2.jpg) no-repeat 0 0;
height:6px;
font-size:0;
line-height:0;
}
.left-area-mid2{
height:100%;
overflow:hidden;
padding:0 0 13px 0;
}
.left-area-mid2 h1{
background:url(../images/hosting-h1-bg2.jpg) no-repeat 0 0;
width:255px;
height:37px;
font:bold 17px/37px Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-transform:uppercase;
padding:0 0 0 10px;
margin:0 0 25px 0;
}
.left-area-mid2 img.relese{
margin:0 80px 30px 0;
}
.left-area-mid2 img{
float:right;
border:#00AEEF 2px solid;
margin:0 12px 12px 12px;
}
.left-area-mid2 p{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#000000;
padding:0 0 20px 16px;
}
.left-area-mid2 p a{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#DD0D0D;
text-decoration:none;
}
.left-area-mid2 p a:hover{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#DD0D0D;
text-decoration:underline;
}
.left-area-mid2 h3{
font:normal 14px/22px Verdana, Arial, Helvetica, sans-serif;
color:#000000;
border-bottom:#E95D26 1px solid;
margin:0 25px 5px 15px;
}
.left-area-mid2 h4{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#000000;
background:url(../images/orange-arrow.jpg) no-repeat 0 50%;
padding:0 0 0 12px;
margin:0 0 0 15px;
}
.gap{
height:37px;
}
.left-area3{
background:url(../images/left-mid-bg3.jpg) repeat-y 0 0;
height:100%;
overflow:hidden;
width:233px;
float:left;
margin:0 0 0 0;
}
.left-area-top3{
background:url(../images/left-top-bg3.jpg) no-repeat 0 0;
height:24px;
font-size:0;
line-height:0;
}
.left-area-bottom3{
background:url(../images/left-bottom-bg3.jpg) no-repeat 0 0;
height:6px;
font-size:0;
line-height:0;
}
.left-area-mid3{
height:100%;
overflow:hidden;
margin:0 0 40px 0;
}
.left-area-mid3 h1{
background:url(../images/hosting-h1-bg3.jpg) no-repeat 0 0;
width:255px;
height:37px;
font:bold 17px/37px Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-transform:uppercase;
padding:0 0 0 10px;
margin:0 0 25px 0;
}
.left-area-mid3 img{
float:right;
border:#00AEEF 2px solid;
margin:0 12px 12px 12px;
}
.left-area-mid3 p{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#6F6E6E;
padding:14px 0 14px 16px;
}
.left-area-mid3 p a{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#DD0D0D;
text-decoration:none;
}
.left-area-mid3 p a:hover{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#DD0D0D;
text-decoration:underline;
}
.left-area-mid3 h3{
font:normal 14px/22px Verdana, Arial, Helvetica, sans-serif;
color:#000000;
border-bottom:#E95D26 1px solid;
margin:0 25px 5px 15px;
}
.left-area-mid3 h4{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#000000;
background:url(../images/orange-arrow.jpg) no-repeat 0 50%;
padding:0 0 0 12px;
margin:0 0 0 15px;
}
.left-area-mid3 form{
background:url(../images/form-bg.jpg) no-repeat 0 0;
width:201px;
height:142px;
margin:0 0 12px 10px;
padding:5px 0 0 10px;
}
.left-area-mid3 label{
font:normal 14px/24px "Times New Roman", Times, serif;
color:#00AEEF;
width:150px;
}
.left-area-mid3 input.text{
width:190px;
height:21px;
background:#F0F0F0;
border:#C4C4C4 1px solid;
}
.left-area-mid3 label span{
font:normal 14px/24px "Times New Roman", Times, serif;
color:#E54321;
width:150px;
}
.left-area-mid3 img.login{
float:right;
border:none;
}
.box{
background:url(../images/box.jpg) no-repeat 0 0;
width:963px;
height:210px;
}
.box1{
width:179px;
float:left;
padding:20px 0 0 30px;
}
.box1 h1{
font:bold 17px/25px Verdana, Arial, Helvetica, sans-serif;
color:#5E5E5D;
padding:0 0 5px 0;
}
.box1 ul{
}
.box1 ul li{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#656464;
background:url(../images/arrow.jpg) no-repeat 0 50%;
}
.box1 ul li a{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#656464;
text-decoration:none;
padding:0 0 0 18px;
}
.box1 ul li a:hover{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#E7730C;
text-decoration:none;
}
.box2{
width:136px;
float:left;
padding:20px 0 0 25px;
}
.box2 h1{
font:bold 17px/25px Verdana, Arial, Helvetica, sans-serif;
color:#5E5E5D;
padding:0 0 5px 0;
}
.box2 ul{
}
.box2 ul li{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#656464;
background:url(../images/arrow.jpg) no-repeat 0 50%;
}
.box2 ul li a{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#656464;
text-decoration:none;
padding:0 0 0 18px;
}
.box2 ul li a:hover{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#E7730C;
text-decoration:none;
}
.box3{
width:320px;
float:left;
padding:20px 0 0 35px;
}
.box3 h1{
font:bold 17px/25px Verdana, Arial, Helvetica, sans-serif;
color:#5E5E5D;
padding:0 0 5px 0;
}
.box3 ul{
}
.box3 ul li{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#656464;
background:url(../images/arrow.jpg) no-repeat 0 50%;
}
.box3 ul li a{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#656464;
text-decoration:none;
padding:0 0 0 18px;
}
.box3 ul li a:hover{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#E7730C;
text-decoration:none;
}
.box4{
width:206px;
float:left;
padding:20px 0 0 30px;
}
.box4 h1{
font:bold 17px/25px Verdana, Arial, Helvetica, sans-serif;
color:#5E5E5D;
padding:0 0 5px 0;
}
.box4 ul{
}
.box4 ul li{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#656464;
background:url(../images/arrow.jpg) no-repeat 0 50%;
}
.box4 ul li a{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#656464;
text-decoration:none;
padding:0 0 0 18px;
}
.box4 ul li a:hover{
font:normal 14px/18px Verdana, Arial, Helvetica, sans-serif;
color:#E7730C;
text-decoration:none;
}
.footer{
text-align:center;
}
.footer p{
font:normal 16px/49px Verdana, Arial, Helvetica, sans-serif;
color:#000000;
}
.footer p a{
font:normal 16px/49px Verdana, Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
padding:0 6px;
}
.footer p a:hover{
font:normal 16px/49px Verdana, Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:underline;
}
.bottom{
height:65px;
background:#D6EEF7;
text-align:center;
padding:20px 0 0 0;
}
.bottom p{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#ADADAD;
}
.bottom p a{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#ADADAD;
text-decoration:none;
}
.bottom p a:hover{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#ADADAD;
text-decoration:underline;
}


/***** css for iner page ******/

.iner-page{
background:url(../images/iner-mid-bg.jpg) repeat-y 0 0;
height:100%;
overflow:hidden;
width:660px;
float:left;
margin:0 0 0 0;
}
.iner-page-top{
background:url(../images/iner-top-bg.jpg) no-repeat 0 0;
height:24px;
font-size:0;
line-height:0;
}
.iner-page-bottom{
background:url(../images/iner-bottom-bg.jpg) no-repeat 0 0;
height:6px;
font-size:0;
line-height:0;
}
.iner-page-mid{
height:100%;
overflow:hidden;
}
.iner-page-mid h1{
background:url(../images/hosting-h1-bg.jpg) no-repeat 0 0;
width:255px;
height:37px;
font:bold 17px/37px Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-transform:uppercase;
padding:0 0 0 10px;
margin:0 0 25px 0;
}
.iner-page-mid h1.extra-width{
background:url(../images/hosting-h1-bg4.jpg) no-repeat 0 0;
width:400px;
height:37px;
font:bold 17px/37px Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-transform:uppercase;
padding:0 0 0 10px;
margin:0 0 25px 0;
}
.iner-page-mid img{
float:right;
border:#00AEEF 2px solid;
margin:0 12px 12px 12px;
}
.iner-page-mid p{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#000000;
padding:0 10px 14px 16px;
}
.iner-page-mid p span{
color:#DF0203;
}
.iner-page-mid p a{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#DD0D0D;
text-decoration:none;
outline:none;
}
.iner-page-mid p a:hover{
font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
color:#DD0D0D;
text-decoration:underline;
}
.iner-page-mid p strong{
color:#00AEEF;
}
.iner-page-mid img.click{
float:right;
border:none;
}
.cont{
height:30px;
background:#00AEEF;
margin:0 10px 15px 10px;
border:#ffffff 2px dashed;
}
.iner-page-mid img.data{
float:right;
border:#00AEEF 1px solid;
}
.cont h2{
font:normal 18px/30px Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
padding:0 0 0 10px;
}
.price-detail{
padding:0 10px 15px 10px;
}
.price-detail-left{
width:200px;
padding:0 0 0 12px;
font-weight:bold;
color:#000000;
}
.price-detail-left p{
color:#DF0203;
padding:0;
margin:0;
font-weight:bold;
}
.price-detail-right{
width:85px;
text-align:center;
color:#000000;
}



